:root {
  --color-primary: #070439;
  --color-secondary: #585989;
  --color-accent-blue: #3065f8;
  --color-accent-cyan: #3c9f8f;
  --color-background: #f6f6fe;
  --color-shadow: #bfbfbf;
  --border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.6rem; /* to be adjusted */
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: var(--color-primary);
}

/* Inputs */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.call-out .input-group {
  font-size: 1rem;
}

.input-wrapper .input {
  /* ensures that input group within the span group will occupy all available space */
  width: 100%;
}

.input {
  padding: 1em;
  border: var(--color-secondary) solid 1px; /* temporary values */
  border-radius: var(--border-radius);
}

.input--hero {
  border: var(--color-primary) solid 1px;
}

::placeholder {
  color: var(--color-shadow);
}

.input:focus {
  outline: #cf777e solid 1px;
  border: white solid 1px;
}

.input-group .btn {
  background: var(--color-accent-blue);
  color: var(--color-background);
  font-weight: 700;
  padding: 1em;
  text-align: center;
  border: var(--color-accent-blue) solid 1px; /* added to ensure that input and button have identical height */
  border-radius: var(--border-radius);
  box-shadow: 0 0 12px 4px var(--color-shadow);
}

.input-group .btn:hover,
.btn:focus {
  outline: none;
  background: #6b9bff;
}

@media screen and (min-width: 768px) {
  .input-group {
    flex-direction: row;
  }

  .input-wrapper {
    width: 60%;
    position: relative;
  }

  .input-group .btn {
    width: 40%;
  }

  .input-wrapper:focus-within::after {
    display: block;
    content: "Please check your email";
    color: #cf777e;
    position: absolute;
    bottom: -1.5em;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-info {
  /* font-size: 2rem; */
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px; /* to be removed*/
  color: var(--color-accent-cyan);
  padding: 0.5rem 0;
  border-bottom: 1.8px solid var(--color-accent-cyan);
}

.link-info__icon {
  vertical-align: middle;
  /* width: 30px;
  height: 30px; */
}

.link-info:hover,
.link-info:focus {
  color: #73e0c9;
  border-color: #73e0c9;
}

.link-info:hover,
.link-info:focus .link-info__icon {
  filter: sepia(73%) saturate(877%) hue-rotate(76deg) brightness(100%)
    contrast(92%);
}

/* Media */
.media {
  display: flex;
  gap: 1rem;
}

.media__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.media__body {
  align-self: center;
}

.media__title {
  font-size: 1.3rem;
  padding-bottom: 0.2em;
}

.media__text {
  font-size: 1.1rem;
}

/* Testimonial */
.testimonial {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgb(231, 231, 231);
}

.testimonial__icon {
  margin-bottom: 1rem;
}

.testimonial__quote {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__item {
  font-size: 1.4rem;
}

.nav__item a:hover,
.nav__item a:focus {
  color: var(--color-secondary);
}

.nav__item + .nav__item {
  padding-left: 1.5em;
}

.nav__logo {
  width: 80px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 3em 0;
  }

  .nav__logo {
    width: 13vw;
    max-width: 160px;
  }

  .nav__item {
    font-size: 1.6rem;
  }

  .nav__item + .nav__item {
    padding-left: 3em;
  }
}

/* Footer */
.icon {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.fa {
  color: white;
  transition: all 0.2s ease-out;
}

.icon:hover {
  border: #6b9bff 1px solid;
}

.icon:hover a {
  color: #6b9bff;
}

/* Footer */
.black-filter {
  filter: brightness(0) saturate(100%);
}

.white-filter {
  filter: invert(100%) sepia(25%) saturate(2%) hue-rotate(182deg)
    brightness(107%) contrast(101%);
}

.footer {
  background-color: var(--color-primary);
  color: white;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer__list a {
  color: white;
  transition: color 0.2s ease-out;
}

.footer__list li:hover a {
  color: #6b9bff;
}

.footer__list li {
  padding-bottom: 25px;
}

.footer__contact {
  padding-left: 27px;
}

.footer__contact li {
  padding-left: 20px;
}

.list--phone {
  list-style-image: url(../images/icon-phone.svg);
}

.list--email {
  list-style-image: url(../images/icon-email.svg);
}

.footer__link {
  list-style-type: none;
  padding-left: 0;
}

.footer__icon {
  align-self: center;
}
