<section class="container hero">
  <img src="images/illustration-1.svg" alt="website illustration" />
  <div class="hero__content">
    <h1 class="hero__title">
      All your files in one secure location, accessible anywhere.
    </h1>
    <p class="hero__text">
      Fylo stores your most important files in one secure location. Access them
      wherever you need, share and collaborate with friends, family and
      co-workers.
    </p>
    <div class="input-group">
      <span class="input-wrapper">
        <input
          type="email"
          class="input input--hero"
          placeholder="Enter your email..."
        />
      </span>
      <button class="btn">Get Started</button>
    </div>
  </div>
</section>
