<!-- In call-out section -->
<div class="call-out">
  <div class="input-group">
    <span class="input-wrapper">
      <input
        type="email"
        class="input input--hero"
        placeholder="email@example.com"
      />
    </span>
    <button class="btn">Get Started</button>
  </div>
</div>

<!--On hero-->
<div class="input-group">
  <span class="input-wrapper">
    <input
      type="email"
      class="input input--hero"
      placeholder="email@example.com"
    />
  </span>
  <button class="btn">Get Started</button>
</div>
