<div class="testimonial">
  <img
    class="testimonial__icon"
    src="images/icon-quotes.svg"
    alt="Open quote icon"
  />
  <blockquote class="testimonial__quote">
    Fylo has improved our team productivity by an order of magnitude. Since
    making the switch our team has become a well-oiled collaboration machine.
  </blockquote>
  <div class="media">
    <img
      class="media__img"
      src="images/avatar-testimonial.jpg"
      alt="Photo of Kyle Burton"
    />
    <div class="media__body">
      <h3 class="media__title">Kyle Burton</h3>
      <p class="media__text">Found & CEO, Huddle</p>
    </div>
  </div>
</div>
